################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MyTestAzureB2C/bin/Debug/net5.0
/MyTestAzureB2C/obj
/WebApi/bin/Debug/net5.0
/WebApi/obj
